<footer id="footer">
    <div class="footer-container">

        <nav class="footer-navigation">
            <ul class="footer-links">
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Contacto</a>
            </ul>
        </nav>

        <div class="footer-text">
            <p><span class="footer-subtitle">© 2025 Playea.com</span>Todos los derechos reservados</p>
        </div>

        <nav class="footer-navigation">
            <ul class="footer-links">
                <a href="#">Política de Privacidad</a>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Aviso Legal</a>
            </ul>
        </nav>

    </div>
</footer>
