<header class="header">

    <a href="/" class="header__logo">
        <h2 class="header__logo-text">Playea</h2>
    </a>

    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="/ranking" class="header__nav-link">Ranking</a>
            </li>
            <li class="header__nav-item">
                <a href="/favourites" class="header__nav-link">Favoritos</a>
            </li>
        </ul>
    </nav>

    <div class="header__user-menu">
        <div class="header__auth-buttons">
            <a href="/login" class="header__auth-button">Login</a>
            <a href="/register" class="header__auth-button">Register</a>
        </div>
        <a class="header__menu" (click)="togglePopup()">
            <img src="/images/menu-list.svg" class="header__menu-image">
        </a>
    </div>
</header>

<!-- POPUP -->
<div *ngIf="isPopupVisible" class="popup">
    <div class="popup__container">
        <div class="popup__image-container">
            <img src="/images/avatar.jpg" alt="UserIcon" class="popup__image">
        </div>
        <div class="popup__account-buttons">
            <button class="popup__account-button">
                <a href="#" class="popup__account-link">Añadir Cuenta</a>
            </button>
            <button class="popup__account-button">
                <a href="#" class="popup__account-link">Cerrar Sesión</a>
            </button>
        </div>
        <div class="popup__section-buttons">
            <button class="popup__section-button">
                <a href="/profile" class="popup__section-link">Perfil</a>
            </button>
            <button class="popup__section-button">
                <a href="/favourites" class="popup__section-link">Favoritos</a>
            </button>
            <button class="popup__section-button popup__section-button--mobile">
                <a href="/ranking" class="popup__section-link">Ranking</a>
            </button>
        </div>
    </div>
</div>