<header class="header">
    <button id="menu-button" aria-label="Toggle menu" class="menu-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50" id="menu-icon">
            <path
                d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z">
            </path>
        </svg>
    </button>

    <a href="/" class="logo">
        <h2 class="logo-text">Playea</h2>
    </a>

    <nav id="nav-menu" class="nav-menu">
        <ul class="list">
            <li><a href="/ranking" class="list-element">Ranking</a></li>
            <li><a href="/favourites" class="list-element">Favourites</a></li>
        </ul>
    </nav>

    <div id="right-menu" class="right-menu">
        <a id="avatar" href="/user-popup">
            <img src="/images/avatar.jpg" alt="User Avatar" class="avatar">
        </a>
        <div class="buttons">
            <a href="/login" class="button">Login</a>
            <a href="/register" class="button">Register</a>
        </div>
    </div>
</header>