.user-popup-container {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    height: 50vh;
    max-height: 500px;
    width: 40vw;
    max-width: 400px;
    box-shadow: 0 0 10px 0 #0004;
    z-index: 1000;
    border-radius: 15px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch; /* Asegura que los elementos ocupen todo el ancho */
}

.user-popup-image img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: auto;
    margin-bottom: 1em;
}

.user-popup-account-buttons {
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
    width: 100%;
}

.user-popup-account-buttons button {
    padding: 0.5em 1.5em;
    flex-grow: 1; /* Hace que los botones se expandan uniformemente */
    max-width: 48%; /* Evita que se salgan del contenedor */
    box-shadow: 0 0 2px 0 #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.user-popup-section-buttons button a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em 0;
}

.user-popup-section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-popup-section-buttons button {
    flex-grow: 1;
    min-width: 150px;
    max-width: 90%;
    padding: 0.8em 2em;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}
