<div class="popup-overlay" onclick="window.history.back()">
    <div class="user-popup-container" onclick="event.stopPropagation()">
        <div class="user-popup-image">
            <img src="/avatar.jpg" alt="UserIcon">
        </div>
        <div class="user-popup-account-buttons">
            <button>
                <a href="#">Añadir Cuenta</a>
            </button>
            <button>
                <a href="#">Cerrar Sesión</a>
            </button>
        </div>
        <div class="user-popup-section-buttons">
            <button>
                <a href="/profile">Perfil</a>
            </button>
            <button>
                <a href="#">Me Gusta</a>
            </button>
        </div>
    </div>
</div>
