/* BLOQUE PRINCIPAL */
.ranking-list {
  max-width: 900px;
  width: 100%;
  padding: 0 25px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

/* ELEMENTOS */
.ranking-list__item {
  width: 100%;
}

/* MODIFICADOR */
.ranking-list--empty {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-color, #333);
  padding: 2rem;
}
