/* BLOQUE PRINCIPAL */
.forgot-password {
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    letter-spacing: 1px;
}

/* ELEMENTOS */
.forgot-password__logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--login-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
}

.forgot-password__title {
    margin-top: 35px;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
}

.forgot-password__text {
    font-size: 0.9em;
    margin-bottom: 50px;
}

.forgot-password__highlight {
    text-decoration: underline;
}

/* FORMULARIO */
.forgot-password__form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    align-items: center;
    width: 100%;  
}

.forgot-password__input-container {
    width: 10em;
    padding: 20px;
    background-color: var(--login-button-color);
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

.forgot-password__input {
    padding-inline: 6px 8px;
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
}

/* BOTÓN */
.forgot-password__button {
    margin-top: 15px;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 1em;
    width: 70%;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 350px;
    border: none;
}

.forgot-password__button--primary {
    background-color: var(--login-button-color);
    color: #fff;
}

.forgot-password__button--primary:hover {
    box-shadow: 0 0 5px 0 var(--login-button-color);
}

@media (max-width: 550px) {
    .forgot-password {
        padding: 20px;
        font-size: 13px;
    }
}

@media (max-width: 430px) {
    .forgot-password {
        padding: 20px;
        font-size: 11px;
    }
}
