<!-- forgot-password.component.html -->
<div class="forgot-password">
  <a class="forgot-password__logo" href="/">PLAYEA</a>
  <h1 class="forgot-password__title">Olvidaste tu contraseña</h1>
  <p class="forgot-password__text">Ingresa tu <span class="forgot-password__highlight">correo electrónico</span> para restablecer tu contraseña</p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password__form">
    <div class="forgot-password__input-container">
      <input
        type="email"
        placeholder="Correo electrónico"
        class="forgot-password__input"
        formControlName="email"
        name="email"
        [ngClass]="{'forgot-password__input--error': emailControl?.touched && emailControl?.invalid}"
      >
      <p
        class="forgot-password__validation-message"
        *ngIf="emailControl?.touched && emailControl?.invalid"
      >
        {{ getEmailErrorMessage() }}
      </p>
    </div>

    <button
      type="submit"
      class="forgot-password__button forgot-password__button--primary"
      aria-label="Restablecer contraseña"
      [disabled]="forgotPasswordForm.invalid"
    >
      Cambiar contraseña
    </button>
  </form>
</div>
