.forgot-password-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    letter-spacing: 1px;
}

.app-logo {
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
    align-self: flex-start;
}
.forgot-password-container h1 {
    margin-top: 35px;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
}


.forgot-password-container p {
    font-size: 0.9em;
    margin-bottom: 50px;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    align-items: center;
}

.forgot-password-form div {
    min-width: 400px;
    width: 60vw;
    padding: 20px;
    background-color: var(--login-button-color);
    border-radius: 20px;
    max-width: 550px;
}

.forgot-password-form input {
    padding-inline: 6px 8px;
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
}

.forgot-password-form button {
    margin-top: 15px;
    padding: 12px 30px;
    background-color: var(--login-button-color);
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    width: 70%;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 350px;
}

.forgot-password-form button:hover {
    box-shadow: 0 0 5px 0 var(--login-button-color);
}
