<div class="forgot-password">
    <a class="forgot-password__logo" routerLink="/">PLAYEA</a>
    <h1 class="forgot-password__title">Olvidaste tu contraseña</h1>
    <p class="forgot-password__text">Ingresa tu <span class="forgot-password__highlight">correo electrónico</span> para restablecer tu contraseña</p>
    
    <form class="forgot-password__form">
        <div class="forgot-password__input-container">
            <input 
                type="email" 
                name="email" 
                placeholder="Introduce tu correo electrónico" 
                required 
                class="forgot-password__input"
                aria-label="Correo electrónico">
        </div>
        <button 
            type="button" 
            [routerLink]="'/forgot-password/otp-verification'"
            class="forgot-password__button forgot-password__button--primary"
            aria-label="Restablecer contraseña">
            Cambiar contraseña
        </button>
    </form>
</div>
