.card {
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: hidden;
  max-width: 350px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image {
  position: relative;
}

#recommended {
  background-color: #ffffff;
  color: #000000;
  padding: 2px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  font-weight: 600;
}


.card-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 280/265;
  object-fit: cover;
  border-radius: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.rating {
  font-size: 1.2rem;
  color: #f39c12;
  font-weight: 600;
}

.distance {
  font-size: 1rem;
  color: #666;
  line-height: 0.9rem;
}

.card:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}
