<app-title-page [title]="'Tus playas favoritas'"></app-title-page>

<div *ngIf="loading" class="loading-indicator">
  <p>Loading...</p>
</div>

<div *ngIf="!loading">
  <div *ngIf="error" class="error-message">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="!error">
    <div style="padding: 0.8rem; margin-top: -8px;">
      <app-beach-grid *ngIf="!loading" [beaches]="beaches"></app-beach-grid>
    </div>
    <div *ngIf="beaches.length === 0" class="no-favourites">
      <p class="no-favourites">No tienes playas favoritas. ¡Empieza a explorar y añade algunas!</p>
    </div>
  </div>
</div>