/*TODO Corregir uso del tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --primary-color: #896e00; /* Warm sand color */
  --secondary-color: #0099cc; /* Ocean blue */
  --accent-color: #00bfae; /* Seafoam green */

  /* Text Colors */
  --text-color: #333333; /* Dark text for readability */
  --header-text-color: #000000; /* White text for headers */
  --footer-text-color: #f0e1a1; /* Light sandy beige for footer text */

  /* Background Colors */
  --header-background: #ffffff; /* Beachwood - dark wood for header */
  --footer-background: #b78c3d; /* Darker sand tone for footer */
  --main-background: #ffffff; /* Clean white background */
  --section-background: #aee2d8; /* Light seafoam green for sections */

  /* Accent Colors */
  --button-background: #ff7f50; /* Coral color for buttons */
  --button-text-color: #ffffff; /* White text on buttons */
  --link-color: #0099cc; /* Ocean blue for links */
  --link-hover-color: #00bfae; /* Seafoam green on hover */

  /* Other Colors */
  --light-sand: #f0e1a1; /* Light sandy beige */
  --sky-blue: #87ceeb; /* Clear sky blue */
  --sunset-orange: #ff7043; /* Warm sunset orange */
  --seafoam: #aee2d8; /* Light seafoam green */
  --beachwood: #4e3629; /* Driftwood brown */

  /* Border Colors */
  --header-border: #4e3629; /* Dark wood border for header */

  /* CARDS */
  --card-bg-color: #fff;
  --card-border-color: #e0e0e0;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-hover-shadow: rgba(0, 0, 0, 0.15);

  --badge-bg-color: #ff385c;
  --badge-bg-color-light: #ff385d17;
  --badge-text-color: #fff;

  --card-title-color: #222;
  --card-text-color: #666;
  --card-hover-transform: -3px;

  --rating-star-color: #ff385c;
  --rating-text-color: #ff385c;
  --change-user-image-color: #ff9800;
  /* END CARDS */

  /* LOGIN */
  --login-primary-bg: #ffffff; /* Fondo principal: Blanco puro para un diseño limpio */
  --login-secondary-bg: #f8f9fa; /* Fondo secundario: Un gris claro sutil para contraste */
  --login-text-color: #222222; /* Texto: Negro suave para buena legibilidad */
  --login-input-bg: #ffffff; /* Fondo de inputs: Blanco para simplicidad */
  --login-button-color: #ff385c; /* Botón principal: Rojo rosado característico de Airbnb */
  --login-button-hover: #e31c5f; /* Hover del botón: Un tono más fuerte para efecto visual */
  --login-border-color: #dddddd; /* Bordes y líneas: Gris claro para suavidad */
  --login-placeholder-color: #717171; /* Texto de placeholder: Gris medio, visible pero no invasivo */
  /* END LOGIN */
}

main {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.app-logo {
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
  align-self: flex-start;
  font-weight: 700;
}

input {
  outline: none;
  padding: 4px 8px;
}
