<main class="login">
    <app-panel-image></app-panel-image>

    <div class="login__panel login__panel--right">
        <h1 class="login__title">
            Playea<span class="login__title-icon">®</span>
        </h1>
        <h2 class="login__subtitle">Iniciar sesión</h2>
        <p class="login__text">
            ¿No tienes una cuenta? <a href="/register" class="login__link">Regístrate</a>
        </p>

        <form class="login__form">
            <input type="email" placeholder="Correo electrónico" class="login__input login__input--email">

            <div class="login__password-wrapper">
                <input id="login-password-text" type="password" placeholder="Contraseña" class="login__input login__input--password">
                <button type="button" class="login__password-toggle" (click)="togglePassword()">
                    <img id="login-toggle-icon" src="/images/NotShowing.png" alt="Mostrar Contraseña" class="login__password-icon">
                </button>
            </div>

            <a class="login__forgot-link" href="/forgot-password">¿Olvidaste tu contraseña?</a>

            <button type="submit" class="login__submit">Iniciar sesión</button>

            <div class="login__divider">
                <span class="login__divider-text">O continúa con</span>
            </div>

            <app-social-buttons></app-social-buttons>
        </form>
    </div>
</main>