.banner {
  background-image: url("/images/las-canteras.jpg");
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 0 20px;
}

.banner__title {
  margin: 0;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
}

.banner__search {
  width: 80%;
  margin-top: 20px;
  position: absolute;
  margin: auto 0;
  bottom: -22px;
}

.banner__input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
}

.banner__input::placeholder {
  color: #888;
}

.banner__input:focus {
  background-color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .banner {
    height: 30vh;
  }

  .banner__title {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 25vh;
  }

  .banner__title {
    font-size: 2.5rem;
  }
}
