<div class="banner">
  <div class="banner__content">
    <h1 class="banner__title">Encuentra tu playa perfecta</h1>
    <div class="banner__search">
      <form (ngSubmit)="searchBeaches()">
        <div class="search-container relative z-50">
          <input class="banner__input" type="text" [(ngModel)]="searchQuery" name="searchQuery"
            placeholder="Busca destinos, playas o ciudades..." required (ngModelChange)="onSearchChange($event)" />
          <button type="submit" class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
        </div>
        <ul *ngIf="showSuggestions && searchSuggestions.length > 0"
          class="fixed left-0 right-0 mt-1! w-full! bg-white border border-gray-300 rounded-md shadow-lg max-h-60 text-gray-700 z-[9999] overflow-y-auto md:max-w-[450px] mx-auto! max-w-[280px]!">
          <li *ngFor="let suggestion of searchSuggestions" (click)="goToBeach(suggestion.slug)"
            class="flex items-center px-2! py-1! cursor-pointer hover:bg-gray-100 transition-colors gap-2 relative">

            <img [src]="suggestion.image || 'https://via.placeholder.com/40'" alt="{{ suggestion.name }}"
              class="w-10 h-10 object-cover rounded mr-3" />

            <div class="flex flex-col">
              <span class="font-medium text-md">{{ suggestion.name }}</span>
              <span class="text-sm text-gray-500 text-start">{{ suggestion.island || 'Isla desconocida' }}</span>
            </div>

          </li>
        </ul>


      </form>

    </div>
    <div class="banner__mobile-nav">
      <a routerLink="/ranking" class="banner__mobile-nav--link">Ranking</a>
      <span class="banner__mobile-nav--separator">|</span>
      <a routerLink="/search" class="banner__mobile-nav--link">Búsqueda</a>
    </div>
  </div>
</div>
<app-category-list [categories]="categories"></app-category-list>

<div style="padding: 0.5rem;">
  <app-beach-grid *ngIf="!loading" [beaches]="beaches"></app-beach-grid>
</div>

<div *ngIf="loading" class="loading-indicator">
  <p>Loading...</p>
</div>