#banner {
  background-image: url("/las-canteras.jpg");
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 0 20px;
}

#banner h1 {
  margin: 0;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
}

#banner div {
  width: 80%;
  margin-top: 20px;
  position: absolute;
  margin: auto 0;
  bottom: -22px;
}

#banner div input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
}

#banner div input::placeholder {
  color: #888;
}

#banner div input:focus {
  background-color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

#beach-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  justify-items: center;
  padding: 24px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #banner div {
    max-width: 600px;
    bottom: -31px;
  }

  #banner {
    height: 40vh;
  }

  #banner div input {
    padding: 1rem;
  }

  #beach-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    justify-items: center;
    padding: 40px 80px;
  }
}

@media screen and (min-width: 1024px) {
  #beach-grid {
    padding: 40px 120px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

.categories-container {
  width: 100%;
  /* border-top: 1px solid #e0e0e0; */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  /* box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.05); */
  /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);  */
  /* margin-top: 40px; */
  padding: 0;
}

.categories {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  padding: 0;
  width: 100%;
  gap: 5px;
}

.categories::-webkit-scrollbar {
  height: 0;
}

.categories::-webkit-scrollbar-track {
  border-radius: 10px;
}

.categories::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.category {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  min-width: 80px;
  max-width: 80px;
  scroll-snap-align: center;
  border-bottom: 2px solid transparent;
  padding: 10px 5px;
  padding-top: 20px;
  transition: border-bottom 0.2s ease-in-out;
}

.category:hover,
.category:active,
.category.active:hover {
  border-bottom: 2px solid #474747;
}

.category:first-child {
  margin-left: 20px;
  border-bottom: 2px solid #474747;
}

.category:last-child {
  margin-right: 20px;
}

.category img {
  width: 24px;
  height: 24px;
  margin-bottom: 0.5rem;
}

.category p {
  font-size: 0.8rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .categories {
    gap: 0px;
  }

  .category {
    min-width: 100px;
    max-width: 100px;
  }

  .category img {
    width: 32px;
    height: 32px;
  }
}
