<div id="banner">
    <h1>Busca tu playa</h1>
    <div>
        <input type="text" placeholder="Busca destinos...">
    </div>
</div>

<div class="categories-container">
    <div class="categories">
      <div class="category" *ngFor="let category of categories">
        <img [src]="categoryImage" [alt]="category">
        <p>{{ category }}</p>
      </div>
    </div>
</div>

<div id="beach-grid" *ngIf="beaches?.length">
    <app-beach-card
        class="w-full flex flex-col items-center"
        *ngFor="let beach of beaches"
        [imageUrl]="beach.imageUrl"
        [title]="beach.title"
        [rating]="beach.rating"
        [distance]="beach.distance"
        [recommended]="beach.recommended">
    </app-beach-card>
</div>

<style>
    .categories-container {
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.05);
        /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);  */
        margin-top: 40px;
        padding: 0;
    }

    .categories {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        padding: 0;
        width: 100%;
        gap: 5px;
    }

    .categories::-webkit-scrollbar {
        height: 0;
    }

    .categories::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    .categories::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    .category {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        min-width: 80px;
        max-width: 80px;
        scroll-snap-align: center;
        border-bottom: 2px solid transparent;
        padding: 10px 5px;
        transition: border-bottom 0.2s ease-in-out;
    }

    .category:hover, .category:active, .category.active:hover {
        border-bottom: 2px solid #474747;
    }

    .category:first-child {
        margin-left: 10px;
    }

    .category:last-child {
        margin-right: 10px;
    }

    .category img {
        width: 24px;
        height: 24px;
        margin-bottom: 0.5rem;
    }

    .category p {
        font-size: 0.8rem;
        margin: 0;
    }

    @media screen and (min-width: 768px) {
        .categories {
            gap: 0px;
        }

        .category {
            min-width: 100px;
            max-width: 100px;
        }

        .category img {
            width: 32px;
            height: 32px;
        }
    }
</style>
