<div class="comment-item">
  <div class="comment-item__author" (click)="navigateToProfile()">
    <img class="user__avatar" [src]="comment.user.imageUrl">
    <h3 class="user__name">{{ comment.user.firstName }}</h3>
  </div>

  <div *ngIf="!editing" class="comment-item__rating">{{ comment.comment.rating }} ★</div>
  <div *ngIf="!editing" class="comment-item__text">{{ comment.comment.text }}</div>

  <div *ngIf="editing" class="comment-item__edit-form">
    <textarea [(ngModel)]="editedText"></textarea>
    <input type="number" [(ngModel)]="editedRating" min="1" max="5">
    <button (click)="saveEdit()">Guardar</button>
    <button (click)="cancelEdit()">Cancelar</button>
  </div>

  <div class="comment-item__actions">
    <ng-container *ngIf="canEdit()">
      <button (click)="startEdit()">Editar</button>
      <button (click)="deleteComment()">Eliminar</button>
    </ng-container>
  </div>
</div>
