/* Estilos para la verificación OTP */

.otp-verification-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    letter-spacing: 1px;
}


.otp-verification-container h1 {
    margin-top: 35px;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.otp-verification-container p {
    font-size: 0.9em;
    margin-bottom: 50px;
    max-width: 80%;
}

.otp-verification-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.otp-inputs {
    min-width: 300px;
    width: 60vw;
    max-width: 400px;
    padding: 15px;
    border: 3px solid var(--login-button-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.otp-inputs input {
    width: 50px;
    height: 65px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
}

.otp-verification-form button {
    margin-top: 15px;
    padding: 12px 30px;
    background-color: var(--login-button-color);
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    width: 70%;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 500px;
}

.otp-verification-form button:hover {
    box-shadow: 0 0 5px 0 var(--login-button-color);
}
